
# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=password
MONGO_DB=weather_mongo
MONGO_PORT=27017

# RabbitMQ
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

# Obtida em: https://home.openweathermap.org/api_keys
OPENWEATHER_API_KEY=sua_chave_aqui

WEATHER_CITY=Belo Horizonte
WEATHER_LAT=-19.92083
WEATHER_LON=-43.93778
WEATHER_UNITS=metric
WEATHER_LANG=pt_br

WEATHER_CHECK_INTERVAL=300

# Obtida em: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=sua_chave_aqui

JWT_SECRET=segredo_super_seguro